<!DOCTYPE html>
<html>
  <head></head>
  <body> <div class="Header">
      <div class="Brand">
          <h1>MakeMy Career</h1>
      </div>
      <div class="Pages">
        <h3 style="padding-right:30px; cursor:pointer;">
          <a href="#home" style="text-decoration: none; color: white;">Home</a>
        </h3>
        <h3 style="padding-right:30px; cursor:pointer;">
          <a href="#openings" style="text-decoration: none; color: white;">Openings</a>
        </h3>
        <h3 style="cursor:pointer; padding-right:10px padding-left:0px;">
          <a href="#about" style="text-decoration: none; color: white;">About</a>
        </h3>
      </div>
  </div></body>
</html>
